<h3>Welcome to Ripelist!</h3>

<p>We are excited for each and every person that finds Ripelist useful. Feedback is strongly encouraged, so if there is anything you wish was better or if you have any troubles, email us at: help@ripelist.com.</p>

<h4>Cheers!</h4>
<h2>The Ripelist team</h2>