<div class="container">
	<h2><%= @user.email %></h2>
	<h2>Account details</h2><hr>

	<div class="active-posts">
		<h3>Your active posts:</h3>
		<% @user.listings.each do |listing| %>
			<h4><%= link_to listing.name, listing_path(listing), :class => "listing-index-name" %></h4>
		<% end %>
	</div>

	<%= button_to 'Delete account', user_registration_path, :confirm => 'Are you sure you want to delete your account?', :method => :delete, :class => "btn btn-danger btn-sm" %>
</div>
