<div class="container">
	<h2><%= @user.email %></h2>
	<h3>Account details</h3><hr>
	
	<div class="active-posts">
		<h4>Your active posts:</h4>
		<% @user.listings.each do |listing| %>
			<%= link_to listing.name, edit_listing_path(listing), :class => "listing-index-name" %><br>
		<% end %>
	</div>

	<%= button_to 'Delete account', user_registration_path, :confirm => 'Are you sure you want to delete your account?', :method => :delete, :class => "btn btn-danger btn-sm" %>
</div>