#navbar-brand {
  width: 110px;
  height: 55px;
}

#search-button {
  margin-left: 10px;
}

.flash-message {
  background-color: #8fc800;
  color: white;
}

.active-posts {
  margin-bottom: 50px;
}

#listing-form-button {
  background-color: white;
}

.listing-item {
  font-style: italic;
}

.listing-index-created-at {
  font-size: 10px;
  margin-right: 15px;
}

.listing-index-image {
 margin-right: 15px;
}

.listing-index-name {
  text-decoration: none;
  font-weight: bold;
  color: #189936;
  margin-right: 15px;
}

.listing-index-name:hover {
  text-decoration: none;
  color: green;
}

.listing-index-price {
  margin-right: 15px;
}

.listing-index-sale {
  height: 30px;
  width: 50px;
  background-color: orange;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-trade {
  height: 30px;
  width: 50px;
  background-color: purple;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-donate {
  height: 30px;
  width: 50px;
  background-color: brown;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-form {
  padding-left: 15px;
}

.listing-form-header {
  text-align: center;
}

.form-wrapper {
  border-radius: 8px;
  width: 500px;
  margin: auto;
  background: #8fc800; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #8fc800 0%, #8fc800 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8fc800), color-stop(100%,#8fc800)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #8fc800 0%,#8fc800 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #8fc800 0%,#8fc800 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #8fc800 0%,#8fc800 100%); /* IE10+ */
  background: linear-gradient(135deg, #8fc800 0%,#8fc800 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.listing-text-area {
  width: 400px;
  height: 100px;
}

