
.listing-index-created-at {
  font-size: 10px;
  margin-right: 15px;
}

.listing-index-image {
 margin-right: 15px;
}

.listing-index-name {
  font-weight: bold;
  margin-right: 15px;
}

.listing-index-price {
  margin-right: 15px;
}

.listing-index-sale {
  height: 30px;
  width: 50px;
  background-color: orange;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-trade {
  height: 30px;
  width: 50px;
  background-color: purple;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-donate {
  height: 30px;
  width: 50px;
  background-color: brown;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-form {
  padding-left: 15px;
}

.listing-form-header {
  text-align: center;
}

.form-wrapper {
  background-color: #84A133;
  border-radius: 8px;
  width: 500px;
  margin: auto;
}

.listing-text-area {
  width: 400px;
  height: 100px;
}

