

.listing-index-nav-bar {
 height: 30px;
 margin-bottom: 5px; 
 background-color: teal;
}

.listing-index-listing {
  position: relative;
  background-color: yellow;
  margin: 5px;
  clear: both;
  float: left;
}

.listing-index-created-at {
  height: 30px;
  width: 50px;
  background-color: green;
  text-align: center;
  font-size: 10px;
  float: left;
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.listing-index-image {
 float: left;
 margin-right: 15px;
}

.listing-index-name {
  height: 30px;
  width: 60px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-price {
  height: 30px;
  width: 60px;
  background-color: pink;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-sale {
  height: 30px;
  width: 50px;
  background-color: orange;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-trade {
  height: 30px;
  width: 50px;
  background-color: purple;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

.listing-index-donate {
  height: 30px;
  width: 50px;
  background-color: brown;
  text-align: center;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

